<div class='sheetcounters'>
<style>
.sheetcounters{
    width: 50%;
}

.sheetcountersTd1{
    width: 80%;
}
</style>
    <div class="AppletCenter75">
        <div class="panel panel-primary">
            <div class="panel-heading">{{AppletTitle}}</div>
            <div class="panel-body">
				<tabset>
					<tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="tab.active">
						<table class="table table-bordered table-hover" >    
							<thead>
								<tr>
									<th ng-repeat="head in header">{{head}}</th>
								</tr>
							</thead>       
							<tbody>
							<tr ng-repeat="row in tab.values" >
									<td class="sheetcountersTd1">{{row.name}}</td>
									<td ng-if="$last">{{row.value}}</td>
									<td ng-if="!$last">{{row.value}}</td>

							</tr>
							</tbody>
						</table>      
					</tab>
				</tabset>
				<button class="btn btn-success" ng-click="refreshSheetCounts()">Refresh</button>
				<button class="btn btn-success" ng-click="exportCsv()">Export</button>
			</div>
		</div>
	</div>	
</div>
