<div class='workspace'>
<style>
.workspace{
    width: 60%;
    text-align: left;
}
</style>
    <div class="AppletCenter75">
        <div class="panel panel-primary">
            <div class="panel-heading" style="text-align: left;">
            <table>
            <tr>
                <td width="90%">{{AppletTitle}}</td>
                <td align="center">
                <button class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="clearData()">Post Mission</button>
                </td>
                <!-- <td align="center">
                
                <button class="btn btn-success" ng-click="refresh()">Refresh</button>
                </td> -->
            </tr> 
            </table>            
			</div>
			<!-- Modal -->
			<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg">
				<div class="modal-content">
				    <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Post Submission</h4>
					</div>
					<div class="modal-body">
						<table>
							<tr>
                            <div class="form-group">
                                <label for="jobinput">Job Name</label>
                                <input class="form-control" id="jobinput" ng-model="jobName" placeholder="Enter Job Name">
                            </div>
							</tr>
                            <div class="form-group">
                                <label for="userinput">User Name</label>
                                <input class="form-control" id="userinput" ng-model="userName" placeholder="Enter User Name">
                            </div>
							<tr>							
							</tr>
                            <tr>
                            <div class="form-group">
                                <label for="descinput">Description</label>
                                <textarea class="form-control" rows="4" ng-model="descriptionContent" id="descinput"></textarea>
                            </div>
                            </tr>
						</table>
					</div>					
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="submit()" data-dismiss="modal">Submit</button>
					</div>
				</div>
			  </div>
			</div>
            <div class="panel-body">
                <table  class="table table-bordered table-hover" >
                    <thead>
                        <tr>
                            <th>JOB</th>
                            <th>DESCRIPTION</th>
                            <th>USER</th>
                            <th>TIME</th>
                        </tr>
					</thead>    
                    <tbody>                    
                        <tr ng-repeat="work in works" >
                            <td>{{work[0]}}</td>
                            <td>{{work[1]}}</td>
                            <td>{{work[2]}}</td>
                            <td>{{work[4]}}</td>
                        </tr>
                    </tbody>
                </table>      
			</div>
		</div>
	</div>	
</div>

