
.Applet1{
  margin-left: auto;
  margin-right: auto;    
  text-align: right;
  width: 75%;
}

.AppletCenter75{
  margin-left: auto;
  margin-right: auto;    
  text-align: center;
  width: 75%;
}

.AppletCenter50{
  margin-left: auto;
  margin-right: auto;    
  text-align: center;
  width: 50%;
}

.appletKeyValueOdd{
  background-color: #77aa77;
}

.appletKeyValueEven{
  background-color: #aa7777;
}

.appletKey{
  padding-right: 20px;

}

.appletValue{

}
.appletData{
}

.Applet0 {
  margin-left: auto;
  margin-right: auto;    
  text-align: center;
  width: 150%;
}

.Applet2 {
  margin-left: auto;
  margin-right: auto;    
  text-align: center;
  width: 100%;
}

.Applet3{
  margin-left: auto;
  margin-right: auto;    
  text-align: right;
  width: 75%;
}

.Applet4{
  margin-left: auto;
  margin-right: auto;    
  text-align: left;
  width: 90%;
}

button.Group2ButtonLeftButton 
{
    height: 24px;
	width: 72px;
	color: black;
	display:inline-block;
	margin-top: 32px;
	margin-left: 12px;
	margin-right: 12px;
}

button.Group2ButtonRightButton 
{
    height: 24px;
	width: 72px;
	color: black;
	display:inline-block;
	margin-left: 0px;
	margin-right: auto;
}

button.Group3ButtonLeftButton 
{
    height: 24px;
	width: 72px;
	color: black;
	display:inline-block;
	margin-top: 32px;
	margin-left: 12px;
	margin-right: 12px;
}

button.Group3ButtonMiddleButton 
{
    height: 24px;
	width: 72px;
	color: black;
	display:inline-block;
	margin-left: 0px;
	margin-right: 12px;
}

button.Group3ButtonRightButton 
{
    height: 24px;
	width: auto;
	color: black;
	display:inline-block;
	margin-left: 0px;
	margin-right: auto;
}

button.Group4Button1
{
    height: 24px;
	width: 72px;
	color: black;
	display:inline-block;
	margin-top: 32px;
	margin-left: 12px;
	margin-right: 8px;
}

button.Group4Button2
{
    height: 24px;
	width: 86px;
	color: black;
	display:inline-block;
	margin-top: 32px;
	margin-left: auto;
	margin-right: 8px;
}

button.Group4Button3
{
    height: 24px;
	width: 102px;
	color: black;
	display:inline-block;
	margin-top: 32px;
	margin-left: auto;
	margin-right: 8px;
}

button.Group4Button4
{
    height: 24px;
	width: 72px;
	color: black;
	display:inline-block;
	margin-top: 32px;
	margin-left: auto;
	margin-right: 0px;
}

button.stopPress {
	height: 24px;
	width: 120px;
	color: red;
	display:inline-block;
	margin-top: 32px;
	margin-left: 0px;
	margin-right: auto;
}

button.heloCounter {
	width: 72px;
	color: black;
	display:inline-block;
	margin-left: 0px;
	margin-right: 12px;
}
 
button.exportButtons {
	width: 72px;
	color: green;
	display:inline-block;	
	margin-right: 12px; 
}

button.refreshButtons {
	width: 72px;
	color: black;
	display:inline-block;
	margin-left: auto;
	margin-right: 0px;   
}

input[type="radio"] {
  margin-top: 22px;
}

 
input.nexpresscheckbox {
	margin-top: 22px;
}

input.nexpressradio {
	padding: 22px;
	text-align:right;
}


.servicesession{
    width:300px;
}

.serviceSessionStartedBg{
    background-color: #F4FA58;
}